In [28]:
import pandas as pd
import numpy as np

Task 1: 1)

In [29]:
/* loading the csv into the dataframe */
data = pd.read_csv("mobile_price_1.csv")
df = pd.DataFrame(data)

SyntaxError: invalid syntax (1213578655.py, line 1)

Task 1: 2)
           bluetooth - nominal
           gen - ordinal
           cores - ordinal
           speed - ordinal
           sim - nominal
           screen - nominal
           Wi-Fi - nominal

Task 1: 3)

In [30]:
df['resolution']=df['px_width'].astype(str) + "X" + df['px_height'].astype(str)

Task 1: 4)

In [31]:
df['DPI_w']=df['px_width']/(df['sc_w']/2.54)
df['DPI_w']=df['DPI_w'].replace(np.inf,np.nan)
mean = df['DPI_w'].mean()
df['DPI_w']=df['DPI_w'].replace(np.nan,mean)

Task 1: 5)

In [35]:
df['call_ratio']=df['battery_power']/df['talk_time']
df['call_ratio']=df['call_ratio'].replace(np.inf,np.nan)
mean = df['call_ratio'].mean()
df['call_ratio']=df['call_ratio'].replace(np.nan,mean)

57.000000     4
206.000000    3
321.500000    3
43.000000     3
178.000000    3
             ..
119.533333    1
157.500000    1
85.583333     1
120.000000    1
255.000000    1
Name: call_ratio, Length: 1844, dtype: int64

Task 1: 6)

In [ ]:
df['memory']=df['memory']/1024

task1: 7)

In [36]:
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price,DPI_w,call_ratio
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000,2000.000000,2000.000000
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,32546.259000,862.02435,931.176483,166.672629
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,18161.462247,230.26348,946.931427,156.664965
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1954.000000,307.11000,81.280000,25.100000
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16421.000000,698.46750,339.634286,75.737500
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,32303.000000,837.63000,599.186000,111.369318
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,48340.250000,1006.71250,1002.506250,186.193750
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,64922.000000,1728.97000,5057.140000,989.500000

Task 1: 8)

In [41]:
df['speed'] = pd.Categorical(df['speed'], categories=['low', 'medium', 'high'],ordered=True)
df['screen'] = pd.Categorical(df['screen'], categories=['LCD', 'Touch'],ordered=False)
df['cores'] = pd.Categorical(df['cores'], categories=['single', 'dual', 'triple','quad','penta','hexa','hepta','octa'],ordered=True)

0       medium
1          low
2          low
3         high
4       medium
         ...
1995       low
1996      high
1997       low
1998       low
1999    medium
Name: speed, Length: 2000, dtype: category
Categories (3, object): ['low' < 'medium' < 'high'] 0         LCD
1       Touch
2       Touch
3         LCD
4       Touch
        ...
1995    Touch
1996    Touch
1997    Touch
1998    Touch
1999    Touch
Name: screen, Length: 2000, dtype: category
Categories (2, object): ['LCD', 'Touch'] 0         dual
1       triple
2        penta
3         hexa
4         dual
         ...
1995      hexa
1996      quad
1997      octa
1998     penta
1999      hexa
Name: cores, Length: 2000, dtype: category
Categories (8, object): ['single' < 'dual' < 'triple' < 'quad' < 'penta' < 'hexa' < 'hepta' < 'octa']

Task 2: 1)

In [48]:
(df['camera'].isna() * df['f_camera'].isna()).sum()

101

Task2: 2)

In [51]:
df.loc[df['sim']=='Single' * (df['camera'] > 12 + df['f_camera'] > 12)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [65]:
df[(df['sim'] == 'Single') & ((df['camera'] > 12) | (df['f_camera'] > 12))]['battery_power'].mean()

1266.741935483871

Task 2: 3)

In [84]:
m_price=[df[(df['wifi'] == 'none') & (df['screen'] == 'Touch') & (df['mobile_wt'] > 145)]['price'].max()]
df[(df['price']==m_price[0])]['id']

770    770
Name: id, dtype: int64

Task 2: 4)

In [124]:
quantile = pd.qcut(x=df['ram'],q=4)
df_cpy=df.copy()
df_cpy['gen'] = pd.Categorical(df['gen'], categories=['2', '3', '4'],ordered=True)
df_cpy['ram'] = quantile
print(df_cpy['ram'])
print(df_cpy.gen.dtype)
df_cpy.pivot_table('bluetooth',index='gen',columns='ram')

0        (2146.5, 3064.5]
1        (2146.5, 3064.5]
2        (2146.5, 3064.5]
3        (2146.5, 3064.5]
4        (1207.5, 2146.5]
              ...
1995    (255.999, 1207.5]
1996     (1207.5, 2146.5]
1997     (2146.5, 3064.5]
1998    (255.999, 1207.5]
1999     (3064.5, 3998.0]
Name: ram, Length: 2000, dtype: category
Categories (4, interval[float64, right]): [(255.999, 1207.5] < (1207.5, 2146.5] < (2146.5, 3064.5] < (3064.5, 3998.0]]
category

Empty DataFrame
Columns: []
Index: []

In [99]:
df['ram'].quantile([0.25,0.5,0.75,1])

0.25    1207.5
0.50    2146.5
0.75    3064.5
1.00    3998.0
Name: ram, dtype: float64