In [18]:
import pandas as pd
import numpy as np

Task 1: 1)

In [19]:
data = pd.read_csv("mobile_price_1.csv")
df = pd.DataFrame(data)

Task 1: 2)
           bluetooth - nominal
           gen - ordinal
           cores - ordinal
           speed - ordinal
           sim - nominal
           screen - nominal
           Wi-Fi - nominal

Task 1: 3)

In [34]:
df['resolution']=df['px_width'].astype(str) + "X" + df['px_height'].astype(str)

Task 1: 4)

In [35]:
df['DPI_w']=df['px_width']/(df['sc_w']/2.54)
df['DPI_w']=df['DPI_w'].replace(np.inf,np.nan)
mean = df['DPI_w'].mean()
df['DPI_w']=df['DPI_w'].replace(np.nan,mean)

Task 1: 5)

In [36]:
df['call_ratio']=df['battery_power']/df['talk_time']
df['call_ratio']=df['call_ratio'].replace(np.inf,np.nan)
mean = df['call_ratio'].mean()
df['call_ratio']=df['call_ratio'].replace(np.nan,mean)

Task 1: 6)

In [23]:
df['memory']=df['memory']/1024

task1: 7)

In [24]:
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price,DPI_w,call_ratio
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000,2000.000000,2000.000000
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,31.783456,862.02435,931.176483,166.672629
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,17.735803,230.26348,946.931427,156.664965
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.908203,307.11000,81.280000,25.100000
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16.036133,698.46750,339.634286,75.737500
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,31.545898,837.63000,599.186000,111.369318
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,47.207275,1006.71250,1002.506250,186.193750
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,63.400391,1728.97000,5057.140000,989.500000

Task 1: 8)

In [37]:
df['speed'] = pd.Categorical(df['speed'], categories=['low', 'medium', 'high'],ordered=True)
df['screen'] = pd.Categorical(df['screen'], categories=['LCD', 'Touch'],ordered=False)
df['cores'] = pd.Categorical(df['cores'], categories=['single', 'dual', 'triple','quad','penta','hexa','hepta','octa'],ordered=True)

Task 2: 1)

In [38]:
(df['camera'].isna() * df['f_camera'].isna()).sum()

101

Task2: 2)

In [39]:
df.loc[(df['sim'] =='Single') & ((df['camera'] > 12) | (df['f_camera'] > 12))]

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,...,sim,f_camera,camera,memory,screen,wifi,price,resolution,DPI_w,call_ratio
4,4,1821,0.6,141,1208,1212,1411,8,2,15,...,Single,13.0,14.0,43.394531,Touch,none,1023.13,1212X1208,1539.240000,121.400000
8,8,1445,0.7,174,386,836,1099,17,1,20,...,Single,NaN,14.0,52.192383,LCD,none,590.74,836X386,2123.440000,72.250000
11,11,1520,0.5,177,151,1005,3826,14,9,13,...,Single,5.0,18.0,32.822266,Touch,n,950.99,1005X151,283.633333,116.923077
12,12,1815,0.6,159,607,748,1482,18,0,2,...,Single,2.0,17.0,33.057617,LCD,none,576.30,748X607,931.176483,907.500000
14,14,1866,0.7,185,356,563,373,14,9,3,...,Single,13.0,17.0,51.096680,LCD,g,738.11,563X356,158.891111,622.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,1981,1454,0.4,199,698,1018,1300,10,0,2,...,Single,8.0,20.0,6.555664,LCD,b,758.87,1018X698,931.176483,727.000000
1982,1982,1784,0.4,164,610,1437,2313,14,1,11,...,Single,4.0,20.0,40.873047,Touch,none,926.90,1437X610,3649.980000,162.181818
1985,1985,1829,0.1,91,1457,1919,3142,16,6,5,...,Single,8.0,15.0,57.990234,Touch,a,1385.74,1919X1457,812.376667,365.800000
1987,1987,618,0.1,80,591,724,1424,15,12,7,...,Single,9.0,15.0,13.181641,Touch,none,815.24,724X591,153.246667,88.285714
1991,1991,1882,0.8,113,4,743,3579,19,8,20,...,Single,11.0,19.0,43.353516,Touch,none,1169.87,743X4,235.902500,94.100000

In [40]:
df[(df['sim'] == 'Single') & ((df['camera'] > 12) | (df['f_camera'] > 12))]['battery_power'].mean()

1266.741935483871

Task 2: 3)

In [41]:
m_price=[df[(df['wifi'] == 'none') & (df['screen'] == 'Touch') & (df['mobile_wt'] > 145)]['price'].max()]
df[(df['price']==m_price[0])]['id']

770    770
Name: id, dtype: int64

Task 2: 4)

In [58]:
quantile = pd.qcut(x=df['ram'],q=4)
df['bluetooth'] = pd.Categorical(df['bluetooth'], categories=['No', 'Yes'],ordered=False)
df['blue_bin'] = np.where(df['bluetooth']=='Yes',1,0)
df.pivot_table('blue_bin',index=df.gen, columns=quantile)

ram  (255.999, 1207.5]  (1207.5, 2146.5]  (2146.5, 3064.5]  (3064.5, 3998.0]
gen
2             0.496063          0.529915          0.512605          0.552632
3             0.469565          0.500000          0.409091          0.443478
4             0.476744          0.486792          0.502008          0.538745

Task 2: 5)

In [31]:
new_df = (df[ (df['speed'] == 'medium') ][['id','battery_power','ram','talk_time','bluetooth','cores','sim','memory','price']]).sample(frac=0.5).copy()
print(new_df)

        id  battery_power   ram  talk_time bluetooth   cores     sim  \
803    803            880  3006          3        No    quad  Single
479    479           1589  3961         14       Yes    quad    Dual
1620  1620            623  3510         18        No  triple    Dual
1132  1132           1524  2678         13       Yes    quad    Dual
1337  1337           1159  2115         18        No    quad  Single
...    ...            ...   ...        ...       ...     ...     ...
130    130           1414  3799          7        No   hepta    Dual
1479  1479           1806  3142          6       Yes  single    Dual
1822  1822            877  2004          9        No   hepta    Dual
325    325            920   785          5        No   hepta    Dual
1173  1173            553  3300         20       Yes    dual    Dual

         memory    price
803    6.331055   787.52
479   57.205078  1284.26
1620  14.737305  1241.09
1132   9.999023   980.74
1337  35.672852   705.41
...         ...      ...
130   53.742188  1173.98
1479  53.173828  1542.37
1822  17.110352   954.64
325   25.007812   430.37
1173  18.067383   863.28

[419 rows x 9 columns]

Task 2: 6)

In [32]:
tmp = new_df.sort_values('talk_time',ascending=False).head(3)
print('max talk time is: ', tmp['talk_time'].sum())
print(tmp)

max talk time is:  60
        id  battery_power   ram  talk_time bluetooth cores   sim     memory  \
1173  1173            553  3300         20       Yes  dual  Dual  18.067383
1287  1287            860  3869         20       Yes  hexa  Dual  48.072266
1600  1600           1776  1813         20       Yes  quad  Dual  34.361328

        price
1173   863.28
1287  1065.07
1600   646.71